<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/comoencasa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComoEnCasa"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DetalleRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".NeveraActivity"
            android:exported="false" />
        <activity
            android:name=".MenuSemanalActivity"
            android:exported="false" /> <!-- Actividad de login, es la primera en aparecer -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad registro, en caso de que el usuario no esté registrado -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false" /> <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Actividad favoritos -->
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" /> <!-- Actividad perfil -->
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
    </application>

</manifest>